.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/imghero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px;
    color: var(--main-white);
  }
}

// .hero-title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.4;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   margin: 0 auto 30px;
//   color: var(--main-white);
// }
